<header>
  <nav>
  <div class="header-nav-list">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </div>
  <div class="header-nav-user-items">
    <button onclick="location.href='<%= cart_path %>';">Cart</button>
    <% if user_signed_in? %>
      <%= link_to 'My Orders', user_orders_path(current_user) %>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= button_to 'Login', new_user_session_path %>
      <%= button_to 'Sign Up', new_user_registration_path %>
    <% end %>
  </div>
  </nav>
</header>