<h1>All Products</h1>

<%= form_tag({ controller: "pages", action: "index" }, method: "get", id: "category-filter-form") do %>
  <%= select_tag(:category_id, options_for_select(@categories.map { |c| [c.name, c.id] }), { prompt: "Select a Category" }) %>
  <%= text_field_tag :search, params[:search], placeholder: "Search by keyword" %>
  <%= submit_tag "Filter" %>
<% end %>

<div id="products-list">
  <% @products.each do |product| %>
    <div>
      <h2><%= link_to product.name, product %></h2>
      <% if product.image.attached? %>
        <%= image_tag rails_blob_path(product.image, only_path: true), height: '100' %>
      <% end %>
      <p><%= product.description %></p>
      <p>Price: <%= number_to_currency(product.price) %></p>
      <%= button_to "Add to Cart", add_to_cart_path(product_id: product.id), method: :post %>
    </div>
  <% end %>
</div>

<%= paginate @products %>

<script>
  $(document).ready(function() {
    $('#category-filter-form').change(function() {
      this.submit();
    });
  });
</script>
