<h1>Edit Address</h1>
<%= link_to 'Edit Profile', edit_user_registration_path %>

<%= form_with(model: @address, url: user_address_path(current_user), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :street_address %>
    <%= form.text_field :street_address %>
  </div>
  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>
  <div class="field">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code %>
  </div>
  <div class="field">
    <%= form.label :province %>
    <%= form.text_field :province %>
  </div>
  <div class="actions">
    <%= form.submit "Save Address" %>
  </div>
<% end %>
